*.slo
*.sln
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.log
*.pdb
*.db
*.opendb
*.ipch
Intermediate/*
Saved/*
Build/*
Content/AnimStarterPack/*
Binaries/*